/*div{
	width: 100px;
	float: left;
}

#one{
	background-color: red;
}

#two{
	background-color: purple;
}*/

img{
	width: 30%;
	float: left;
	margin: 1.66%;
}

p{
	font-family: Raleway;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 900;
	text-transform: uppercase;
	border-bottom: solid black 1px;
	padding-bottom: 20px;
	width: 30%;
	border: transparent .3;
}